@import "../../common/scss-setup/index";

.start-page {
  background-color: $background-color;
  padding: 1rem;

  .bluetooth-note {
    padding-top: 3rem;
    color: $gray-text;
    font-size: 0.75rem;
  }
}
