@import "../../common/scss-setup/index";

.sending-results {
  background-color: #ffffff;
  height: calc(100vh - 60px);
  text-decoration: none solid;
  font-weight: bold;

  .icon {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .upload-icon {
      color: $medium-green;
      font-size: 4rem;
    }
  }

  .button {
    padding-top: 20px;

    .button-cancel {
      color: $dark-green-text;
      width: 213px;
      height: 43px;
      padding: 0 5px;
      border-color: $dark-green;
      font-size: 16px;
      background-color: white;

      &:hover {
        background-color: $dark-green;
        border-color: $dark-green;
      }
    }
  }
}
