$background-color: #f7f7f8;

$light-green: #69b70f;
$medium-green: #4a800b;
$dark-green: #355c08;

$red-button: #c83619;
$red-button-hover: #7b3023;

$base-text: #1e1e20;
$green-text: #69b70f;
$dark-green-text: #4a800b;
$gray-text: #6d6f74;

$light-gray: #c3c4c6;
$medium-gray: #6d6f74;

$card-site-hover: #f0f8e7;

$table-border: #efeff0;
$table-hover-background: #f0f8e7;

$fade-yellow-effect: rgba(255, 255, 102, 0.5);

$hover-dirty-white: #efeff0;
