@import "../../common/scss-setup/index";

.connected-device {
  color: $dark-green-text;
  border: 1px solid $medium-green;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .icon {
    height: 2rem;
    padding: 0.5rem;
  }

  .text {
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    align-items: center;
    text-align: left;
  }

  .button-connect-device {
    color: $dark-green-text;
    background-color: white;
    border-color: $medium-green;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
      background-color: $dark-green !important;
      border-color: $dark-green !important;
    }
  }
}
