@import "../../common/scss-setup/index";

.start-new-test {
  background-color: $background-color;
  padding: 1rem;

  .picture {
    padding: 3rem 0;
    width: 100%;
    .icon {
      color: $light-green;
      height: 8rem;
    }
  }
  .button {
    padding-top: 20px;

    .button-go-test {
      width: 213px;
      height: 43px;
      padding: 0 5px;
      border: none;
      font-size: 16px;
      background-color: $medium-green;

      &:hover {
        background-color: $dark-green;
        border-color: $dark-green;
      }
    }
  }
}
